@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .header-top-bar {
        .btn {
            height: 58px;
            display: flex;
            align-items: center;
            color: $white;
            border-radius: 0;
            line-height: 1;
            justify-content: center;
            font-size: 1.125rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                height: 48px;
            }
        }
    }

    .banner {
        padding-top: 16px;

        .banner-content {
            background: imgUrl("banner.jpg");
            overflow: hidden;

            .description {
                padding: 48px 0;

                @include media-breakpoint-up(md) {
                    padding: 66px 53px;
                }
            }

            @include media-breakpoint-down(md) {
                background-size: cover;
            }
        }

        form {
            font-family: $font-roboto;

            input,
            select {
                color: $grey;
                min-height: 50px;
                background: #f3f3f3;

                @include media-breakpoint-up(md) {
                    padding: 23px 17px;
                    min-height: 70px;
                }

                &:focus,
                &:active {
                    outline: none;
                    box-shadow: none;
                }
            }

            input::placeholder,
            select {
                color: $grey;
                font-size: 1rem;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }

            button {
                min-height: 50px;

                @include media-breakpoint-up(md) {
                    min-height: 70px;
                }
            }
        }

        .experience-banner {
            background: $primary imgUrl("experience-banner.png") right top;
            background-size: contain;
            border-radius: 7px;
            color: $white;
            font-family: $font-helvetica;
            margin-top: 30px;
            padding: 25px 16px;

            @include media-breakpoint-up(md) {
                padding: 25px 32px;
            }
        }
    }
}

section.services {
    position: relative;
    padding-top: 16px;

    @include media-breakpoint-up(md) {
        padding-top: 64px;
    }

    .curved-arrow {
        position: absolute;
        top: -3rem;
        right: 30%;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .title {
        padding: 31px 0 23px 45px;
        font-family: $font-roboto;
        color: $black;
        font-weight: 500;
        font-size: 1.5rem; // 24px
        position: relative;

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }

        &::before {
            position: absolute;
            content: "";
            background: imgUrl("ball.png");
            height: 26px;
            width: 26px;
            left: 0;
            top: 36px;
        }
    }

    .description {
        font-family: $font-roboto;
        font-size: 0.875rem;
        color: $grey;
    }

    .see-more-services {
        display: none;
    }
}

section.brands {
    padding: 48px 0;

    @include media-breakpoint-up(lg) {
        padding: 28px 0;
    }
}

section.quick-contact {
    background: $primary;
    padding: 64px 0;

    @include media-breakpoint-up(md) {
        background: $primary imgUrl("quick-contact.png") right top;
        background-size: cover;
        padding: 80px 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 125px 0 158px;
        background-size: contain;
    }

    .btn {
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        border-radius: 0;
        line-height: 1;
        font-size: 1.125rem;

        @include media-breakpoint-down(sm) {
            font-size: 0.875rem;
            height: 48px;
        }
    }
}

footer {
    .section-footer-top {
        background: #6fd6f6;
        padding: 44px 0;

        .btn {
            font-family: $font-roboto;
            line-height: 1;
            font-size: 1.125rem;
            font-weight: 500;
            padding: 22.5px 49px;

            @include media-breakpoint-down(sm) {
                padding: 16px;
                font-size: 0.875rem;
            }
        }
    }

    .section-footer-bottom {
        padding: 40px 0;
        font-size: 0.875rem;
        color: #555555;
    }
}
